body {
  background-color: #ceae69;
  font-family: 'Libre Baskerville', serif;
}

.subheading {
  font-style: oblique;
}

.container {
  position: relative;
}

.picture {
  text-align: center;
}

img {
  width: 10%;
}

h2 {
  text-decoration: underline;
}

.robotics {
  width: 40%;
  float: right;
  margin: 10px;
  padding-bottom: 30px;
}

.introbar {
  width: 25%;
  float: left;
  font-family: 'Ubuntu', sans-serif;
  z-index: 1;
}

.tabcontents  {
  width: 75%;
  float: left;
  font-family: 'Roboto Condensed', sans-serif;
}

.background {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}

.jumbotron {
  background-color: #326b32;
  margin: 20px;
}

.techskills {
  color: red;
  font-weight: bold;
}

.ghPages {
  font-size: 20px;
  font-family: 'Cantora One', sans-serif;
  text-align: center;
}

a:link {
  color: #7b0ea5;
}

a:visited {
  color: #4c3e21
}
