.subheading {
  font-style: oblique;
}

.container {
  position: relative;
}

#clip {
  position: absolute;
  clip: rect(100px, 100px, 200px, 100px)
}

img {
  width: 10%;
}

.introbar {
  width: 20%;
  float: left;
  font-family: 'Ubuntu', sans-serif;
}

.githubprojects  {
  width: 80%;
  float: left;
  font-family: 'Roboto Condensed', sans-serif;
}

.background {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}
